<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citms.modules.project.dao.IssueTargetMapper">

	<resultMap id="issueTargetRm" type="com.citms.modules.jira.entity.IssueEntity">
		<result property="pkid" jdbcType="BIGINT" column="pkid" />
		<result property="id" jdbcType="BIGINT" column="id" />
		<result property="keyValue" jdbcType="VARCHAR" column="key_value" />
		<result property="issuetype" jdbcType="INTEGER" column="issuetype" />
		<result property="components" jdbcType="VARCHAR" column="components" />
		<result property="timespent" jdbcType="VARCHAR" column="timespent" />
		<result property="timeoriginalestimate" jdbcType="VARCHAR" column="timeoriginalestimate" />
		<result property="description" jdbcType="VARCHAR" column="description" />
		<result property="projectId" jdbcType="BIGINT" column="project_id" />
		<result property="aggregatetimespent" jdbcType="VARCHAR" column="aggregatetimespent" />
		<result property="resolution" jdbcType="INTEGER" column="resolution" />
		<result property="timetracking" jdbcType="VARCHAR" column="timetracking" />
		<result property="customfield10104" jdbcType="VARCHAR" column="customfield10104" />
		<result property="customfield10105" jdbcType="VARCHAR" column="customfield10105" />
		<result property="customfield10204" jdbcType="VARCHAR" column="customfield10204" />
		<result property="customfield10106" jdbcType="VARCHAR" column="customfield10106" />
		<result property="attachment" jdbcType="BIGINT" column="attachment" />
		<result property="aggregatetimeestimate" jdbcType="VARCHAR" column="aggregatetimeestimate" />
		<result property="resolutiondate" jdbcType="TIMESTAMP" column="resolutiondate" />
		<result property="workratio" jdbcType="INTEGER" column="workratio" />
		<result property="summary" jdbcType="VARCHAR" column="summary" />
		<result property="lastViewed" jdbcType="TIMESTAMP" column="last_viewed" />
		<result property="watches" jdbcType="VARCHAR" column="watches" />
		<result property="creatorId" jdbcType="BIGINT" column="creator_id" />
		<result property="created" jdbcType="TIMESTAMP" column="created" />
		<result property="reporterId" jdbcType="BIGINT" column="reporter_id" />
		<result property="customfield10000" jdbcType="VARCHAR" column="customfield10000" />
		<result property="aggregateprogress" jdbcType="INTEGER" column="aggregateprogress" />
		<result property="priority" jdbcType="INTEGER" column="priority" />
		<result property="customfield10100" jdbcType="VARCHAR" column="customfield10100" />
		<result property="labels" jdbcType="VARCHAR" column="labels" />
		<result property="timeestimate" jdbcType="VARCHAR" column="timeestimate" />
		<result property="aggregatetimeoriginalestimate" jdbcType="VARCHAR" column="aggregatetimeoriginalestimate" />
		<result property="duedate" jdbcType="TIMESTAMP" column="duedate" />
		<result property="progress" jdbcType="VARCHAR" column="progress" />
		<result property="comment" jdbcType="VARCHAR" column="comment" />
		<result property="issuelinks" jdbcType="VARCHAR" column="issuelinks" />
		<result property="votes" jdbcType="INTEGER" column="votes" />
		<result property="worklog" jdbcType="VARCHAR" column="worklog" />
		<result property="assigneeId" jdbcType="VARCHAR" column="assignee_id" />
		<result property="updated" jdbcType="TIMESTAMP" column="updated" />
		<result property="status" jdbcType="INTEGER" column="status" />
	</resultMap>

	<sql id="Base_Column_List">
        	id,
        	key_value,
        	issuetype,
        	components,
        	timespent,
        	timeoriginalestimate,
        	description,
        	project_id,
        	aggregatetimespent,
        	resolution,
        	timetracking,
        	customfield10104,
        	customfield10105,
        	customfield10204,
        	customfield10106,
        	attachment,
        	aggregatetimeestimate,
        	resolutiondate,
        	workratio,
        	summary,
        	last_viewed,
        	watches,
        	creator_id,
        	created,
        	reporter_id,
        	customfield10000,
        	aggregateprogress,
        	priority,
        	customfield10100,
        	labels,
        	timeestimate,
        	aggregatetimeoriginalestimate,
        	duedate,
        	progress,
        	comment,
        	issuelinks,
        	votes,
        	worklog,
        	assignee_id,
        	updated,
        	status
	</sql>

	<!--<select id="getAddStoryPointRate" resultType="java.math.BigDecimal" parameterType="java.lang.Long">-->
		<!--select (select sum(customfield10106) from tbl_issue t-->
			<!--where STATUS=5 and is_add=0 and customfield10106 is not null-->
			<!--and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))/-->
		<!--(select sum(customfield10106) from tbl_issue t-->
			<!--where is_add=0 and customfield10106 is not null-->
			<!--and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))-->
		<!--from dual-->
	<!--</select>-->

	<!--<select id="getRemainStoryPointRate" resultType="java.math.BigDecimal" parameterType="java.lang.Long">-->
		<!--select (select sum(customfield10106) from tbl_issue t-->
			<!--where STATUS=5  and is_add=1 and customfield10106 is not null-->
			<!--and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))/-->

			<!--(select sum(customfield10106) from tbl_issue t-->
			<!--where is_add=1 and customfield10106 is not null-->
			<!--and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))-->
		<!--from dual-->
	<!--</select>-->

	<select id="getStoryPointRate" resultType="java.math.BigDecimal">
		select (select sum(customfield10106) from tbl_issue t
			where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))/
		(select sum(customfield10106) from tbl_issue t
			where customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))
		from dual
	</select>

	<select id="getAvgStoryPoint" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
			(select sum(customfield10106) from tbl_issue t where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))/

			(select count(DISTINCT assignee_id) from tbl_issue t where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getAvgStoryTime" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select sum(datediff(close_date,created)) from tbl_issue t where STATUS=5 and customfield10106 is not null
		and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))/

		(select sum(customfield10106) from tbl_issue t where STATUS=5 and customfield10106 is not null
					and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getAvgStoryDelay" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select sum(datediff(tested_date,customfield10204)) from tbl_issue t where  customfield10204 &lt; tested_date and customfield10106 is not null
		and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}))/

		(select sum(customfield10106) from tbl_issue t where customfield10204 &lt; tested_date and customfield10106 is not null
		and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getReopenStory" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select count(1) from tbl_changelog t1
		INNER JOIN tbl_issue t2 on t1.issue_id=t2.id
		where t1.change_type='status' and t1.change_status=1 and t2.issuetype=1
		and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t2.id AND t3.sprint_id=#{value} )
	</select>

	<select id="getRemainStroy" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select (t.totalStory-t.closeStory)/t.totalStory from
		(select
			(select sum(customfield10106) from tbl_issue t where customfield10106 is not null
					and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))as totalStory,

			(select sum(customfield10106) from tbl_issue t where customfield10106 is not null and `status`=5
					and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} )) as closeStory
		from dual) t
	</select>

	<select id="getOverdueStoryPoint" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select sum(customfield10106) from tbl_issue t where customfield10106 is not null and duedate &lt; close_date and `status`=5
	  	and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} )
	</select>

	<select id="getDefectCloseRate" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select count(1) from tbl_issue t where issuetype=2 and `status`=5
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}  ))/

		(select count(1) from tbl_issue t where issuetype=2
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value}  ))
		from dual
	</select>

	<select id="getDefectDensity" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select count(1) from tbl_issue t where issuetype=2
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))/

		(select sum(customfield10106) from tbl_issue t where customfield10106 is not null and `status`=5
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getAvgRepairTime" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select sum(close_date-created) from tbl_issue t where issuetype=2 and `status`=5
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))/

		(select count(1) from tbl_issue t where issuetype=2 and `status`=5
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getRemainDefectRate" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select count(1) from tbl_issue t where issuetype=2 and `status`!=5
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))/

		(select count(1) from tbl_issue t where issuetype=2
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getOnlineDefect" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select count(1) from tbl_issue t where issuetype=2 and customfield10203=4
		and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} )
	</select>

	<select id="getOnlineRepairTime" resultType="java.math.BigDecimal" parameterType="java.lang.Long">
		select
		(select sum(datediff(close_date,created)) from tbl_issue t where issuetype=2 and customfield10203=4 and `status`=5 and created&lt;close_date
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))/

		(select count(1) from tbl_issue t where issuetype=2 and customfield10203=4 and `status`=5 and created&lt;close_date
				and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.sprint_id=#{value} ))
		from dual
	</select>

	<select id="getAddStory" resultType="java.math.BigDecimal">
		SELECT
			count( 1 )
		FROM
			tbl_issue t
			INNER JOIN ( SELECT * FROM tbl_issue_sprint t3 WHERE t3.sprint_id = #{value} ) s ON t.id = s.issue_id
			LEFT JOIN ( SELECT * FROM tbl_sprint WHERE id = #{value} ) st ON st.id = s.sprint_id
		WHERE
			t.issuetype = 1
			AND t.created BETWEEN st.start_date AND st.end_date
	</select>

	<select id="getSprintAddStoryCloseRate" resultType="java.math.BigDecimal">
		select (select sum(customfield10106) from tbl_issue t
			where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=0 AND t3.sprint_id=#{value}))/
		(select sum(customfield10106) from tbl_issue t
			where customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=0 AND t3.sprint_id=#{value}))
		from dual
	</select>

	<select id="getHistoryStoryCloseRate" resultType="java.math.BigDecimal">
		select IFNULL((select sum(customfield10106) from tbl_issue t
			where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=1 AND t3.sprint_id=#{value})),0)/
		IFNULL((select sum(customfield10106) from tbl_issue t
			where customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=1 AND t3.sprint_id=#{value})),0)
		from dual
	</select>

	<select id="getSprintNewStory" resultType="java.lang.String">
		select GROUP_CONCAT(concat('''',key_value,'''')) from tbl_issue t
			where customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=0 AND t3.sprint_id=#{value})
	</select>

	<select id="getSprintNewStoryFinish" resultType="java.lang.String">
		select GROUP_CONCAT(concat('''',key_value,'''')) from tbl_issue t
			where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=0 AND t3.sprint_id=#{value})
	</select>

	<select id="getSprintOldStory" resultType="java.lang.String">
		select GROUP_CONCAT(concat('''',key_value,'''')) from tbl_issue t
			where customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=1 AND t3.sprint_id=#{value})
	</select>

	<select id="getSprintOldStoryFinish" resultType="java.lang.String">
		select GROUP_CONCAT(concat('''',key_value,'''')) from tbl_issue t
			where STATUS=5 and customfield10106 is not null
			and EXISTS(select * from tbl_issue_sprint t3 where t3.issue_id=t.id AND t3.is_sprint_add=1 AND t3.sprint_id=#{value})
	</select>
</mapper>